body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", sans-serif;
}
#container{
  display: flex;
  flex-direction: column;
}
header{
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
}
.logo{
  margin-left: 20px;
  margin-bottom: 8px;
}
.logo a{
  font-family: 'Lobster', cursive;
  color: red;
  font-size: 55px;
}
ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
li{
  text-align: center;
}
a{
  text-decoration: none;
  color: white;
  display:block;
}
.search button, i{
  color: rgb(203, 36, 0);
  background-color: black;
  border: 0;
}
.search i:hover{
  color: rgb(246, 30, 30);
}
.search input, button{
  font-size: 20px;
}
.search input{
  border-radius: 10px;
  border: solid;
  height: 50px;
  width: 700px;
}

  /* ..... MENU ..... */
.menu{
  padding: 0;
}
.menu li ul{
  display: none;
}.menu > li{
  position: relative;
  width: 180px;
  display: inline-block;
}
.menu li a:hover{
  color: red;
  background: rgb(105, 105, 105);
  transition: all .3s;
}.menu > li > a{
  display: block;
  padding: 15px 20px;
}
  /* ..... SUBMENU ..... */

.submenu{
  position: absolute;
  background: black;
  width: 100%;
  display: none;
  padding: 0;
}
.submenu li{
  border-bottom: 1px solid rgb(119, 119, 119, 0.5);
}
.submenu li a{
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
}
.menu li:hover .submenu{
  display: block;
}

@media (min-width: 751px) and (max-width: 1000px){
.logo{
  margin-left: 35%;
}
.search{
  width: 98%;
}
}

@media (min-width: 540px) and (max-width: 751px) {
.search{
  display: flex;
  width: 90%;
}
.logo{
  margin-left: 28%;
}
}
