body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", sans-serif;
}
header{
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
}
.logo{
  margin-left: 20px;
  margin-bottom: 8px;
}
.logo a{
  font-family: 'Lobster', cursive;
  color: red;
  font-size: 55px;
}
ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
li{
  text-align: center;
}
a{
  text-decoration: none;
  color: white;
  display:block;
}
.search{
  width: 400px;
}
.search button, i{
  color: rgb(203, 36, 0);
  background-color: black;
  border: 0;
}
.search i:hover{
  color: rgb(246, 30, 30);
}
.search input, button{
  font-size: 20px;
}
.search input{
  border-radius: 10px;
  border: solid;
  height: 50px;
  width: 91%;
}

  /* ////// MENU /////// */
#logo-menu{
  display: none;
}
#menu{
  padding: 0;
}
#menu li ul{
  display: none;
}#menu > li{
  position: relative;
  width: 180px;
  display: inline-block;
}
#menu li a:hover{
  color: red;
  background: rgb(105, 105, 105);
  transition: all .3s;
}#menu > li > a{
  display: block;
  padding: 15px 20px;
}
  /* ////////// SUBMENU /////////// */

.submenu{
  position: absolute;
  background: black;
  width: 100%;
  display: none;
  padding: 0;
}
.submenu li{
  border-bottom: 1px solid rgb(119, 119, 119, 0.5);
}
.submenu li a{
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
}
#menu li:hover .submenu{
  display: block;
}

/* ///////////// FOOTER ///////////// */

footer{
  background: black;
  display: flex;
  margin-bottom: 0;
  position: absolute;
  width: 100%;
}
footer h2{
  color: red;
}
footer a{
  display: inline-block;
}

/* /////// CONTENIDO ///////// */

.container{

}
.imagen img{
  height: 700px;
  margin-top: 4%;
  width: 100vw;
}

/* ///////////// Responsive Tablet - Movil //////////// */

@media (max-width: 994px){
header{
  border-bottom: 1px solid red;
}
nav{
  display: flex;
  margin-bottom: 10px;
}
.logo{
/*  margin-left: 20%; */
}
.search{
  display: flex;
  margin-left: 10px;
  width: 80%;
}
#menu{
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}
#menu > li{
  border-bottom: 1px solid rgba(199, 0, 0, 0.65);
}
#menu > li > a{
  color: yellow;
}
.submenu{
  position: relative;
}
#logo-menu{
  display: inline-block;
  margin-left: 0px;
  margin-right: 6%;
}
#logo-menu a{
  display: inline-block;
  font-size: 35px;
}
#logo-menu i{
  display: inline-block;
  color: rgb(203, 36, 0);
}
#logo-menu a:hover{
  color: red;
}

}
