*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%; /** Reset para REMS - 62.5% = 10px de 16px **/
}
body{
  display: flex;
  flex-direction: column;
  background: white;
}
header{
  background: rgb(73, 73, 73);
  height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}
.titulo{
  color: yellow;
  display: inline-block;
  font-size: 12rem;
  text-decoration: none;
  font-family: 'Lobster', cursive;
}
.titulo:hover{
  color: red;
}
#container{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.formulario{
  background-color: rgb(73, 73, 73);
  height: 95vh;
  width: 89%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  border-radius: 2rem;
}
.formulario h1{
  font-size: 8rem;
  color: yellow;
  margin-bottom: 2rem;
}
.form-login input, button{
  font-size: 4rem;
  margin-bottom: 3rem;
  height: 8%;
  border-radius: 2rem;
  width: 90%;
  margin-left: 5%;
}
.form-login input{
  border: 5px solid yellow;
}
.form-login button{
  width: 90%;
  background-color: yellow;

}
input, button{
  display: block;
}
#paises{
  font-size: 4rem;
  margin-bottom: 3.5rem;
  height: 8%;
  border-radius: 2rem;
  width: 90%;
  margin-left: 5%;
  border: 5px solid yellow;
  color: grey;
}
#paises option{
  font-size: 1rem;
}
#provincias{
  font-size: 4rem;
  margin-bottom: 3.5rem;
  height: 8%;
  border-radius: 2rem;
  width: 90%;
  margin-left: 5%;
  border: 5px solid yellow;
  color: grey;
}
#provincias{
  font-size: 1rem;
} .hidden{
  display: none;
}

.formulario .registrate{
  color: blue;
  font-size: 4rem;
  margin-top: 4rem;
  display: inline-block;
}
.msj-error{
  color: white;
  margin-left: 5%;
}
/* //////// RESPONSIVE NOTEBOOK - NETBOOK - TABLET ///////// */

@media (min-width: 450px) {


  .formulario h1{
    font-size: 5rem;
    font-weight: 2px;
  }
  .formulario .registrate{
    margin-top: 1rem;
  }
  #btn-submit{
    margin-bottom: 0;
  }
}

 /* //////// RESPONSIVE PC DE ESCRITORIO //////////// */


@media (min-width: 1000px) {
  body{
    background-image: url('/fondo-deportivo.jpg');
  }
  header{
  height: auto;
  }
  header .titulo{
    font-size: 5rem;
  }
  .formulario{
    height: 96%;
    width: 40%;
    border-radius: 1rem;
  }
  .formulario h1{
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .form-login{
    width: 90%;
  }
  .form-login input, button{
    font-size: 2rem;
    height: 4.5rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    border: 2px solid yellow;
    width: 100%;
    margin-left: 0;
  }
  .form-login button{
    width: 100%;
  }
  .form-login button:hover{
    background: rgb(190, 188, 3);
    border-color: rgb(190, 188, 3);
  }
#paises{
  font-size: 2rem;
  height: 4.5rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  width: 100%;
  border: 2px solid yellow;
  color: grey;
  margin-left: 0;
}
#provincias{
  font-size: 2rem;
  height: 4.5rem;
  border-radius: 0.4rem;
  margin-bottom: 1rem;
  width: 100%;
  border: 2px solid yellow;
  color: grey;
  margin-left: 0;
}

  .formulario .registrate{
    font-size: 2.2rem;
    margin-top: 0;
  }
  .formulario .registrate:hover{
    color: red;
  }
  .msj-error{
    margin-left: 0%;
  }
}
