
img{
  height: 100vh;
  width: 500vw;
  position: fixed;
}body{
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  position: relative;
  margin: 0;
  background-image: url('../fondo-deportivo.jpg');
}.padre{
  position: absolute;
  height: 728px;
  width: 684px;
  padding-top: 0px;
}.login{
  font-size: 30px;
  display: inline-block;
}label{
  font-size: 90px;
}input{
  font-size: 49px;
  width: 650px;
  border-radius: 50px;
  padding-top: 2px;
}.is{
  font-size: 66px;
  color: red;
  padding-left: 134px;
}.titulo{
  font-size: 127px;
  color: red;
  font-family: "Gloria Hallelujah",cursive;
  width: 100%;
  text-decoration: none;
  padding-left: 167;

}button{
  background-color: black;
  color: red;
  font-size: 44px;
  border-radius: 54px;
  width: 314px;
}.boton{
  padding-left: 167px;
  padding-top: 68px;
}.pass{
  padding-top: 26px;
}footer {
  font-size: 53px;
  padding-top: 122px;
}footer a{
  color: blue;
}.regis{
  font-size: 66px;
  color: red;
  padding-left: 190px;
  padding-top: 17px;
}.separar{
  padding-top: 85px;
  padding-right: 43px;
  }footer ul{
    list-style: none;
    text-align: center;
    font-size: 73px;
    padding-right: 82px;
  }
  footer p{
    font-size: 32px;
  }footer li{
    display: inline;
  }
  .formularioLogin{
   padding-top: 76px;
  }
  form{
    width: 20px;
  }


@media (min-width: 900px) {
  .is {
    font-size: 30px;
    color: red;
    padding-left: 55px;
}input {
    font-size: 22px;
    width: 283px;
    border-radius: 50px;
    padding-top: 0px;
}button {
    background-color: black;
    color: red;
    font-size: 22px;
    border-radius: 54px;
    width: 287px;
}.boton {
    padding-left: 0px;
    padding-top: 0px;
}.pass {
    padding-top: 0px;
}.regis{
  font-size: 30px;
  padding-left: 82px;
}.formulario2{
  width: 40px;
  padding-left: 155px;
}.formularios{
  display: flex;
  align-items: baseline;
  padding-top: 84px;
}img{
  height: 100vh;
  width: 100vw;
  position: fixed;
}.separar{
 display: none !important;
}.padre{
  padding-left: 0px;

}body{
  display: flex;
  justify-content: center;
}footer ul{
  list-style: none;
  text-align: center;
}
footer p{
  font-size: 32px;
}footer li{
  display: inline;
}
.titulo{
  padding-left: 20px;
}
}
